<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811758451763-qcrq6gp3bmp0dv4305a110ijiuullkn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811758451763-qcrq6gp3bmp0dv4305a110ijiuullkn9</string>
	<key>API_KEY</key>
	<string>AIzaSyAgpv7oJ50KK-J7SGALaEt-EDqH9M4m_OY</string>
	<key>GCM_SENDER_ID</key>
	<string>811758451763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieTicket</string>
	<key>PROJECT_ID</key>
	<string>movie-ticket-19093</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-ticket-19093.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811758451763:ios:29a95fa43d755ee27d3746</string>
</dict>
</plist>